#sidebar{
    position: fixed;
    width: 220px;
    left: -220px;
}
#sidebar #btn-sidebar{
    position: absolute;
    right: -36px;
    top: 0;
    border: none;
}
#sidebar ul li a{
    text-decoration: none;
}
#sidebar ul li a:hover{
    opacity: 0.5;
}
#sidebar #btn-sidebar #burger-bar{
    display: block;
}

#sidebar #btn-sidebar #cross-bar{
    display: none;
}
#sidebar.show{
    left: 0;
}
#sidebar.show #btn-sidebar #burger-bar{
    display: none;
}

#sidebar.show #btn-sidebar #cross-bar{
    display: block;
}
